<section>
  <div class="page-header">
    <h1>Emotions</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="emotion in vm.emotions"
       ui-sref="emotions.view({ emotionId: emotion._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="emotion.created | date:'mediumDate'"></span>
        by
        <span ng-if="emotion.user" ng-bind="emotion.user.displayName"></span>
        <span ng-if="!emotion.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="emotion.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.emotions.$resolved && !vm.emotions.length">
    No Emotions yet, why don't you <a ui-sref="emotions.create">create one</a>?
  </div>
</section>
